#about {
	display: grid;
	margin: 0;
	padding: 70px 0;
	padding-left: var(--horizontal-padding);
	grid-template-columns: 1fr 1fr;
	place-items: center center;
}

#about .description {
	width: 100%;
}

#about .description h1 {
	margin: 0;
	font-size: xx-large;
}

#about .title {
	position: relative;
	padding-bottom: 20px;
}

#about p {
	line-height: 25px;
}

#about .title::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	border: 2px solid hsl(240deg 100% 70%);
	content: "";
}

#about .passion {
	font-size: smaller;
}

#about .tech-stack {
	color: hsl(240deg 100% 60%);
}

#about button {
	cursor: pointer;
	padding: 12px 30px;
	border: 0;
	border-radius: 1000px;
	outline: none;
	background-color: var(--btn-clr);
	color: white;
}

#about button:hover {
	background-color: var(--btn-hover-clr);
}

#about .profile-picture {
	--img-size: 200px;

	width: var(--img-size);
	height: var(--img-size);
	border-radius: 50%;
	color: hsl(0deg 0% 60%);
	box-shadow: 0 0 10px 0 hsl(0deg 0% 70%);
	text-align: center;
	line-height: var(--img-size);
}

#about .profile-picture:not([src]) {
	padding: 8px 0; /* Ensure pfp is still a circle after applying offset */
	padding-right: 16px; /* Handle alt icon offset */
	font-size: large;
	font-weight: bold;
}
