#about {
	display: grid;
	position: relative;
	margin: 0;
	padding: 70px 0;
	padding-left: var(--horizontal-padding);
	grid-template-columns: 2fr 3fr;
	place-items: center center;
	overflow: hidden;
	--overlay-left: 55%;
	--overlay-width: 800px;
	--overlay-height: 800px;
	--overlay-radius: 30px;
	--overlay-rotation: 45deg;
}

#about::before {
	position: absolute;
	left: var(--overlay-left);
	content: "";
	width: var(--overlay-width);
	height: var(--overlay-height);
	background: black;
	border-radius: var(--overlay-radius);
	transform: rotate(var(--overlay-rotation));
	z-index: 1;
	filter: invert(1) grayscale(1);
	mix-blend-mode: difference;
}

#about::after {
	position: absolute;
	left: var(--overlay-left);
	content: "";
	width: var(--overlay-width);
	height: var(--overlay-height);
	background: var(--primary-clr-300);
	z-index: 1;
	border-radius: var(--overlay-radius);
	transform: rotate(var(--overlay-rotation));
	mix-blend-mode: screen;
}

#about .description {
	width: 100%;
}

#about .description h1 {
	margin: 0;
	font-size: xx-large;
}

#about .title {
	position: relative;
	padding-bottom: 20px;
}

#about p {
	line-height: 25px;
}

#about .title::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	border: 2px solid var(--primary-clr-500);
	content: "";
}

#about .passion {
	font-size: smaller;
}

#about .tech-stack {
	color: var(--primary-clr-500);
}

#about button {
	cursor: pointer;
	padding: 12px 30px;
	border: 0;
	border-radius: 1000px;
	outline: none;
	background-color: var(--btn-clr);
	color: white;
	z-index: 1;
}

#about button:hover {
	background-color: var(--btn-hover-clr);
}

#about .profile-picture {
	--img-size: 200px;

	width: var(--img-size);
	height: var(--img-size);
	background: transparent;
	border-radius: 50%;
	color: white;
	box-shadow: 0 0 10px 0 white;
	text-align: center;
	line-height: var(--img-size);
	z-index: 1;
}

#about .profile-picture:not([src]) {
	padding: 8px 0; /* Ensure pfp is still a circle after applying offset */
	padding-right: 16px; /* Handle alt icon offset */
	font-size: large;
	font-weight: bold;
}

@media screen and (width <= 43.75rem) {
	#about {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 70px var(--horizontal-padding);
		text-align: center;
	}

	#about::before {
		display: none;
	}

	#about::after {
		display: none;
	}

	#about .title::after {
		width: 100%;
	}

	#about::before {
		display: none;
	}

	#about .profile-picture {
		color: hsl(0deg 0% 60%);
		box-shadow: 0 0 10px 0 hsl(0deg, 0%, 80%);
	}
}

@media screen and (width <= 31.25rem) {
	#about {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	#about .description h1 {
		font-size: x-large;
	}

	#about p {
		line-height: 1.25rem;
	}

	#about .title {
		padding-bottom: 10px;
		font-size: small;
	}

	#about .passion {
		font-size: small;
	}
}

@media screen and (width <= 25rem) {
	#about .profile-picture {
		--img-size: 150px;
	}
}
