#education {
	padding: 20px var(--horizontal-padding);
}

#education header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#education .description {
	display: flex;
	flex-direction: row;
	gap: 50px;
	line-height: 1.875rem;
}

#education .description li {
	margin-bottom: 10px;
}

#education img {
	width: 43.75rem;
	height: 100%;
	color: hsl(0deg 0% 60%);
	text-align: center;
	object-position: 55% 90%;
	object-fit: cover;
}

@media screen and (width <= 81.25rem) {
	#education .description {
		align-items: center;
	}
}

@media screen and (width <= 62.5rem) {
	#education .description {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	#education img {
		width: 100%;
		height: 18.75rem;
	}
}

@media screen and (width <= 43.75rem) {
	#education em {
		font-size: small;
	}
}

@media screen and (width <= 31.25rem) {
	#education .description {
		font-size: small;
		line-height: 1.25rem;
	}
}

@media screen and (width <= 25rem) {
	#education header {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		text-align: center;
	}

	#education h1 {
		margin-bottom: 0;
	}
}
