.icon {
    --img-size: 3.125rem; /*size of image icons*/
    --gap: 20px; /*gap between icons*/
    --time: 15s; /*animation duration of slider*/
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    text-align: center;
    position: absolute;
    width: var(--img-size);
    left: 100%;
    animation: slide var(--time) linear infinite;
    animation-delay: calc(((var(--time) / var(--amount)) * (var(--position) - var(--amount))));
}

.icon .icon-name {
    font-size: x-small;
    font-weight: bold;
}

.icon img{
    width: var(--img-size);
    height: var(--img-size);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(min(calc((var(--img-size) + var(--gap)) * var(--amount) * -1), -100vw));
    }
}