.icon {
	--img-size: 3.125rem; /* size of image icons */
	--gap: 20px; /* gap between icons */
	--time: 15s; /* animation duration of slider */
	--width: max(var(--img-size), 5ch); /* width of container */

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	position: absolute;
	left: 100%;
	width: var(--width);
	text-align: center;
	animation: slide var(--time) linear infinite;
	animation-delay: calc(
		((var(--time) / var(--amount)) * (var(--position) - var(--amount)))
	);
}

.icon .icon-name {
	font-size: x-small;
	font-weight: bold;
}

.icon img {
	width: var(--img-size);
	height: var(--img-size);
}

@keyframes slide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(
			min(calc((var(--width) + var(--gap)) * var(--amount) * -1), -100vw)
		);
	}
}

@media (prefers-reduced-motion) {
	.icon {
		position: static;
		animation: none;
	}
}

@media screen and (width <= 50rem) {
	.icon {
		--img-size: 2rem; /* size of image icons */
		--gap: 10px; /* gap between icons */
		--time: 15s; /* animation duration of slider */
	}

	.icon .icon-name {
		font-size: xx-small;
	}
}
