#projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px var(--horizontal-padding);
}

#projects h1 {
	position: relative;
	padding: 10px;
	text-align: center;
	border-bottom: 3px solid var(--underline-clr);
}

#projects .card-container {
	display: grid;
	gap: 5px;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
