#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px var(--horizontal-padding);
}

#projects h1{
    padding: 10px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid var(--underline-clr);
}

#projects .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

@media screen and (max-width: 1300px) {
    #projects .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    #projects .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    #projects .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    #projects .card-container{
        grid-template-columns: 1fr;
    }
}