#skills {
	padding: 20px var(--horizontal-padding);
}

#skills h1 {
	position: relative;
	padding-bottom: 10px;
}

#skills h1::after {
	--height: 3px;

	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 25%;
	height: var(--height);
	border-radius: var(--height);
	background-color: var(--underline-clr);
	content: "";
}

#skills .skills-slider {
	--img-size: 6.25rem;

	display: flex;
	gap: 20px;
	position: relative;
	width: 100%;
	height: var(--img-size);
	overflow: hidden;
	mask-image: linear-gradient(
		to left,
		transparent 0%,
		black 20%,
		black 80%,
		transparent 100%
	);
}

#skills .skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

@media screen and (width <= 62.5rem) {
	#skills .skills-container {
		gap: 15px;
	}
}

@media screen and (width <= 50rem) {
	#skills .skills-container {
		gap: 10px;
	}

	#skills .skills-slider {
		--img-size: 4rem;
	}
}

@media screen and (width <= 31.25rem) {
	#skills .skills-container {
		gap: 5px;
	}
}
