.skill {
	--img-size: 5rem;

	display: flex;
	flex-direction: column;
	width: max(var(--img-size), 10ch);
	padding: 10px;
	border-radius: 10px;
	background-color: hsl(0deg 0% 98%);
	border: 1px solid hsl(0deg 0% 94%);
}

.skill img {
	align-self: center;
	width: var(--img-size);
	height: var(--img-size);
	margin: 0;
}

.skill h2 {
	margin: 0;
	font-size: medium;
}

.skill p {
	margin: 0;
	font-size: small;
}

.skill .preferred {
	font-size: x-small;
	font-weight: bold;
}

@media screen and (width <= 81.25rem) {
	.skill {
		--img-size: 4.25rem;
	}
}

@media screen and (width <= 62.5rem) {
	.skill {
		--img-size: 3rem;

		flex-direction: row;
		justify-content: start;
		align-items: center;
		gap: 10px;
		width: calc(var(--img-size) + 10ch);
	}

	.skill h2 {
		margin: 0;
		font-size: small;
	}

	.skill p {
		margin: 0;
		font-size: x-small;
	}

	.skill .preferred {
		font-size: xx-small;
		font-weight: bold;
	}
}

@media screen and (width <= 50rem) {
	.skill {
		--img-size: 2rem;

		gap: 10px;
		padding: 10px;
		border-radius: 15px;
	}
}

@media screen and (width <= 31.25rem) {
	.skill {
		--img-size: 1rem;

		gap: 5px;
		padding: 5px;
		border-radius: 10px;
	}

	.skill .preferred {
		display: none;
	}
}
