.skill{
    --img-size: 100px;
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: hsl(0,0%,95%);
    border-radius: 20px;
    padding: 20px
}

.skill img{
    align-self: center;
    margin: 0;
    width: var(--img-size);
    height: var(--img-size);
}

.skill h2{
    margin: 0;
    font-size: medium;
}

.skill p{
    margin: 0;
    font-size: small;
}

.skill .preferred{
    font-weight: bold;
    font-size: x-small;
}