:root{
  --horizontal-padding: 120px;
  --btn-clr: hsl(220, 100%, 30%);
  --btn-hover-clr: hsl(220, 100%, 20%);
  --underline-clr: hsl(240, 50%, 50%);
}

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}