:root {
	--horizontal-padding: 8%;
	--btn-clr: hsl(220deg 100% 30%);
	--btn-hover-clr: hsl(220deg 100% 20%);
	--underline-clr: hsl(240deg 50% 50%);
}

body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (width <= 1000px) {
	:root {
		--horizontal-padding: 50px;
	}
}

@media screen and (width <= 800px) {
	:root {
		--horizontal-padding: 20px;
	}
}
