:root {
	--horizontal-padding: 8%;

	--primary-clr-900: hsl(220deg, 76%, 90%);
	--primary-clr-800: hsl(220deg, 76%, 80%);
	--primary-clr-700: hsl(220deg, 76%, 70%);
	--primary-clr-600: hsl(220deg, 76%, 60%);
	--primary-clr-500: hsl(220deg, 76%, 50%);
	--primary-clr-400: hsl(220deg, 76%, 40%);
	--primary-clr-300: hsl(220deg, 76%, 30%);
	--primary-clr-200: hsl(220deg, 76%, 20%);

	--btn-clr: var(--primary-clr-400);
	--btn-hover-clr: var(--primary-clr-300);
	--underline-clr: var(--primary-clr-400);
}

body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (width <= 1000px) {
	:root {
		--horizontal-padding: 50px;
	}
}

@media screen and (width <= 800px) {
	:root {
		--horizontal-padding: 20px;
	}
}
